{{>header}}
<form action="#/edit/{{objectId}}" method="post">

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Edit Event</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputEventName" name="name" class="form-control" placeholder="Event" required=""
            autofocus="" value="{{name}}">
        <label for="inputEventName">Event</label>
    </div>

    <div class="form-label-group">
        <input type="text" id="inpuEventDate" name="dateTime" class="form-control" placeholder="Date" required=""
            value="{{dateTime}}">
        <label for="inpuEventDate">Date</label>
    </div>

    <div class="form-label-group">
        <textarea type="text" id="inputEventDescription" name="description" class="form-control"
            placeholder="Description" required="">{{description}}</textarea>
        <label for="inputEventDescription">Description</label>
    </div>
    <div class="form-label-group">
        <input type="text" id="inputEventImage" name="imageURL" class="form-control" placeholder="Image" required=""
            autofocus="" value="{{imageURL}}">
        <label for="inputEventImage">Image</label>
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Edit it</button>
    <p class="mt-5 mb-3 text-muted text-center">© UniEnt - 2019.</p>
</form>
{{>footer}}