{{>header}}
{{#if loggedIn}}
    <div id="eventsHolder">
        {{#if hasEvents}}
            {{#each events}}
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden eventPlaceholder">
                    <div class="my-3 p-3">
                        <h2 class="display-5">{{name}}</h2>
                    </div>
                    <div>
                        <div class="img">
                            <img class="eventPicture" src="{{imageURL}}" />
                        </div>
                        <a href="#/details/{{objectId}}" class="eventDetails">More</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            {{>notFound}}
        {{/if}}
    </div>
{{else}}
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div style=" padding-left: 7%; padding-top:3%;" class="col-md-7">
            <h2 class="featurette-heading">The events that <span class="text-muted">will blow your mind!</span></h2>
            <p class="lead">Join our community.</p>
            <p style="padding-left:5%" class="lead">Organize an event.</p>
            <p style="padding-left:10%" class="lead">Gathered as many people as possible for one purpose.</p>
            <p style="padding-left:15%" class="lead">Learn!</p>
            <p style="padding-left:20%" class="lead">Share!</p>
            <p style="padding-left:25%" class="lead">Enjoy the life!</p>
        </div>
        <div class="col-md-5">
            <img class="home-event-picture" src="./images/events.png" />
        </div>
    </div>
{{/if}}
{{>footer}}