<article class="post">
    <h1>{{title}}</h1>
    <h2><span>{{category}}</span></h2>
    <p>{{content}}</p>
    <a href="#/delete/{{objectId}}" id="delete-button">Delete</a>
    <a href="#/details/{{objectId}}" id="details-button">Details</a>
    <a href="#/edit/{{objectId}}" id="edit-button">Edit</a>
</article>