{{>header}}

{{#if loggedIn}}

<h1 class="text-center">Our Recipes</h1>

    <div id="sharedRecipes">

    {{#each recipes}}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-team-main">
                    
                        <div class="team-front">
                            <img src="{{categoryImageURL}}" />
                            <h3>{{meal}}</h3>
                            <p>{{category}}</p>
                        </div>

                        <div class="team-back">
                            <div class="back-side-info">
                                <h4>Ingredients</h4>
                                <ul>
                                    {{#each ingredients}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                <a href="#/details/{{objectId}}">View the receipt</a>
                            </div>

                            <img class="foodImage" src="{{foodImageURL}}" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {{else}}
        {{>notFound}}
    {{/each}}

    </div>


{{else}}
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading">Coooooking University</h1>
    <p class="lead">They say that food passes through the stomach, we say that food passes through CookUni...
    </p>
</main>
{{/if}}

{{>footer}}